<nav class="navbar bg-light">
    <div class="container" >
      <a class="navbar-brand" routerLink="/dashboard" >
        <img [src]="img" alt="" width="150" height="50">
        
    </a>
    
    <mat-form-field > 
      <mat-select (valueChange)="sendCurrency($event)" class="text-sm" [(ngModel)]="selectedCurrency">
          <mat-option selected value="Actia">Actia</mat-option>
          <mat-option  value="">About</mat-option>
          <mat-option  value="">Contact</mat-option>

      </mat-select>
    </mat-form-field>
  </div>

    

  </nav>