<div class="banner">
    <div class="container">
        <div class="header">
            <br>
            <br>
            <h2>Actia Engineer Services</h2>
            <h5>Welcome Every one</h5>

        </div>
        <div class="sub-header">
            <marquee behavior="scroll" onmouseover="stop()" onmouseout="start()" loop="infinite" direction="left" >
            <div class="row">
              <ng-container >
                <div class="col-3">
                    <div class="card">
                        <button type="button" class="btn btn-light btn-lg btn-radius">ACTIA NEWSROOM</button>

                    </div>

                </div> 
            </ng-container>
            <ng-container >
                <div class="col-3">
                    <div class="card">
                        <button type="button" class="btn btn-secondary btn-lg btn-radius">ACTIA MICROMOBILITY

                        </button>

                    </div>

                </div> 
            </ng-container>
            <ng-container >
                <div class="col-3">
                    <div class="card">
                        <button type="button" class="btn btn-success btn-lg btn-radius">Contact Us

                        </button>

                    </div>

                </div> 
            </ng-container>
            
            
            
            </div>
            </marquee>

        </div>
    </div>

</div>
<div class="container"></div>
